{{- range $index, $addons := .Values.addons }}
{{- if $addons.enabled }}
---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: addons-{{ $index }}
  namespace: argocd
spec:
  syncPolicy:
    preserveResourcesOnDeletion: false
  generators:
    - clusters:
        values:
          addonChart: {{ $addons.chartName }}
          addonChartVersion: {{ $addons.chartVersion }}
          addonChartRepository: {{ $addons.chartRepository }}
          addonChartNamespace: {{ $addons.namespace }}
      selector:
        matchExpressions:
          - key: enable_{{ $addons.chartName }}
            operator: In
            values: ['true']
  template:
    metadata:
      name: 'addon-{{`{{name}}`}}-{{`{{values.addonChart}}`}}'
    spec:
      project: {{ $.Values.argocdproject.name }}
      sources:
        - repoURL: '{{`{{metadata.annotations.addons_repo_url}}`}}'
          targetRevision: '{{`{{metadata.annotations.addons_repo_revision}}`}}'
          ref: values
        - chart: '{{`{{values.addonChart}}`}}'
          repoURL: '{{`{{values.addonChartRepository}}`}}'
          targetRevision: '{{`{{values.addonChartVersion}}`}}'
          helm:
            releaseName: '{{`{{values.addonChart}}`}}'
            ignoreMissingValueFiles: true
            valueFiles:
              - $values/environments/default/addons/{{`{{values.addonChart}}`}}/values.yaml
              - $values/environments/{{`{{metadata.labels.environment}}`}}/addons/{{`{{values.addonChart}}`}}/values.yaml
              - $values/clusters/{{`{{name}}`}}/addons/{{`{{values.addonChart}}`}}/values.yaml
      destination:
        name: '{{`{{name}}`}}'
        namespace: '{{`{{values.addonChartNamespace}}`}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=true
{{- end }}
{{- end }}
